body.home {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body.home .nav {
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to bottom, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
  padding: 1rem;
  text-align: center;

  ul {
    padding: 0%;
  }
}
body.home .nav li, .nav a {
  color: white;
  list-style: none;
  text-decoration: none;
}
body.home .nav li {
  padding-bottom: 1rem;
}

body.home #status-form {
  padding: 0 2rem;
}

body.home #status-form form {
  display: flex;
  flex-direction: column;
}

body.home #status-text-box {
  width: 50%;

  input {
    width: 100%;
    height: 3rem;
  }
}
body.home #status-username-submit {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}




body.contact h1 {
  background-image:linear-gradient( #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
  color: white;
  padding: 20px 0;
  margin-top: 0;
}

body.contact {
  text-align: center;
}

body.contact main {
  background-color: #e6f0ff; /* light blue bar background */
  padding: 2rem;
  text-align: center;
}

body.contact .contact-form {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.contact textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-top: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  resize: none;
}

body.contact button {
  margin-top: 1rem;
  padding: 0.7rem 2rem;
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

body.contact button:hover {
  background-color: #005db5;
}

body.terms h1 {
  background-image:linear-gradient( #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
  color: white;
  padding: 20px 0;
  margin-top: 0;
  text-align: center;
}
