body{ 
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav{
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom,#000529 1%, #002055 24%, #005db5 67%, #0074d9 100%);
<<<<<<< HEAD
    padding: Irem;
=======
    padding: 1rem;
>>>>>>> ff43a3f14481f013c7e492dd18a11e302008cec2
    text-align: center;
   
    ul{
        padding: 0%;
    }
}
.nav li, .nav a {
    color: white;
    list-style: none;
    text-decoration: none;
}
.nav li {
<<<<<<< HEAD
    padding-bottom: Irem;
=======
    padding-bottom: 1rem;
}

#status-form{
    padding: 0 2rem;
>>>>>>> ff43a3f14481f013c7e492dd18a11e302008cec2
}

#status-form form{
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
=======
}

#status-text-box{
    width: 50%;

    input{
        width: 100%;
        height: 3rem;
    }
}
#status-username-submit{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
>>>>>>> ff43a3f14481f013c7e492dd18a11e302008cec2
}